<div class="container">
  <div class="row">
  <div class="col-x-12">
    <!-- <ol>
      <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
      <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
      <li>Add a button which may only be clicked if the username is NOT an empty string</li>
      <li>Upon clicking the button, the username should be reset to an empty string</li>
    </ol>
    <hr>
    <label for="">Username:</label>
    <input type="text"
      class="form-control"
      [(ngModel)]="userName">

    <p [ngStyle]="{color: getColor()}" [ngClass]="{name: userName.length === 4}">
      {{ userName }}
    </p>
    
    <button (click)="userName = ''"
      class="btn btn-primary"
      [disabled]="userName === ''">Reset Username</button>

      <ng-template #hello let-message="message">
        <p>Hello {{ message }}</p>
      </ng-template>

      <ng-container *ngTemplateOutlet="hello;context:ctx"></ng-container>

      <ng-template #customTabButtons>
        <div class="custom-class">
          <button class="tab-button"
            (click)="login()">
            {{loginText}}
          </button>
          <button class="tab-button"
            (click)="signUp()">
            {{signUpText}}
          </button>
        </div>
      </ng-template>

      <app-tab-container [headerTemplate]="customTabButtons"></app-tab-container> -->

      <!-- <app-targil></app-targil> -->
      <!-- <app-targil2></app-targil2> -->
      <!-- <app-targil3></app-targil3> -->
      <!-- <app-targil4></app-targil4> -->
      <!-- <app-targil5></app-targil5> -->
      <!-- <app-targil6></app-targil6> -->
      <!-- <targil7-root></targil7-root> -->
      <!-- <app-targil8></app-targil8> -->
      <!-- <obs-root></obs-root> -->
      <!-- <forms-root></forms-root>  -->
      <!-- <app-template-deriven-forms></app-template-deriven-forms> -->
      <!-- <app-reactive-forms></app-reactive-forms> -->
      <!-- <app-forms-reactive-assignment></app-forms-reactive-assignment> -->
      <!-- <app-pipes1></app-pipes1> -->
      <app-http></app-http>
  </div>
</div>
</div>

